<div class="page-lista-slas">
  <div class="mb-5">
    <div class="row">
      <div class="col-sm-12">

        <form class="input-group no-border" [formGroup]="form" (ngSubmit)="buscar()">
          <span class="input-group-btn hide">
            <select tooltip="Pesquisar por coluna" formControlName="coluna">
              <option value="" selected>Todos</option>
              <option *ngFor="let column of columns" [value]="column.value">{{ column?.label }}</option>
            </select>
          </span>

          <input type="text" placeholder="Pesquisar SLAs" class="form-control" formControlName="buscar">

          <span class="input-group-btn">
            <button class="btn btn-telefonica btn-default btn-fechar" type="button" aria-label="Limpar Busca" tooltip="Limpar Busca"
              (click)="reset()" *ngIf="form.get('buscar').value">
              <span aria-hidden="true">&times;</span>
            </button>

            <button class="btn btn-telefonica btn-default" type="button" aria-label="Buscar" tooltip="Buscar" (click)="buscar()">
              <i class="glyphicon glyphicon-search"></i>
            </button>

            <button class="btn btn-telefonica btn-default ml-1 hide" type="button" aria-label="Filtros Avançados" tooltip="Filtros Avançados">
              <i class="glyphicon glyphicon-filter"></i>
            </button>
          </span>
        </form>

      </div>

      <div class="col-sm-2 hide">
        <button class="btn btn-telefonica btn-default btn-block">
          Listar Todos
        </button>
      </div>
    </div>
  </div>
  <!-- end buscar -->

  <div class="section-page mt-5">
    <div class="table-responsive">
      <table class="table table-hover mb-0" *ngIf="paginationSlas && paginationSlas.length">
        <thead>
          <tr>
            <th class="col-ativo">Ativo</th>
            <th class="col-status">Status</th>
            <th class="col-nomeArea">Área</th>
            <th class="col-complexidade">Complexidade</th>
            <th class="col-prioridade">Prioridade</th>
            <th class="col-sLA">SLA (dias)</th>
            <th class="col-inicioVigencia">Início da vigência</th>
            <th class="col-fimVigencia">Final da vigência</th>
            <th class="col-editar" *ngIf="usuario?.canEdit()">Editar</th>
            <th class="col-aprovar" *ngIf="usuario?.canAprove()">Aprovar/ Reprovar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sla of paginationSlas; trackBy: trackById" [ngClass]="{ 'loading': sla.Loading }">
            <td class="col-ativo" [ngClass]="{ 'ativo': sla?.Ativo, 'inativo': !sla?.Ativo, 'can-disable': usuario?.canDisable(), 'can-enable': usuario?.canEnable() }">
              <app-loading *ngIf="sla?.Loading"></app-loading>
              <div class="check">
                <a href="javascript:void(0)" (click)="desativaSLA(sla)" *ngIf="sla?.Ativo && usuario.canDisable()" aria-label="Desativar SLA" tooltip="Desativar SLA" placement="top"></a>
                <a href="javascript:void(0)" (click)="ativaSLA(sla)" *ngIf="!sla?.Ativo && usuario.canEnable()" aria-label="Ativar SLA" tooltip="Ativar SLA" placement="top"></a>
              </div>
            </td>
            <td class="col-status">{{ sla?.Status }}</td>
            <td class="col-nomeArea">{{ sla?.NomeArea }}</td>
            <td class="col-complexidade">{{ sla?.Complexidade }}</td>
            <td class="col-prioridade">{{ sla?.Prioridade }}</td>
            <td class="col-sLA">{{ sla?.SLA }}</td>
            <td class="col-inicioVigencia">{{ sla?.InicioVigencia }}</td>
            <td class="col-fimVigencia">{{ sla?.FimVigencia }}</td>
            <td class="col-editar" *ngIf="usuario?.canEdit()">
              <a [routerLink]="['editar/', sla?.IdSla]" *ngIf="sla?.isEditable()" aria-label="Editar SLA" tooltip="Editar SLA" placement="top">
                <i class="glyphicon glyphicon-pencil"></i>
              </a>
            </td>
            <td class="col-aprovar" *ngIf="usuario?.canAprove()">
              <app-aprovar-reprovar [sla]="sla" *ngIf="sla.canAprove()" (refreshList)="loadList($event)"></app-aprovar-reprovar>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-center text-danger" *ngIf="msgView">
        {{ msgView }}
      </div>
    </div>

  </div>
  <!-- end paginationSlas -->

  <div class="text-center" *ngIf="totalItems > itemsPerPage">
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [maxSize]="maxSizeNumPages" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage"
      class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>
