<div class="page-login">
  <form [formGroup]="form" (ngSubmit)="login()" class="form-login" autocomplete="off" novalidate>

    <div class="form-group has-error has-feedback">
      <input type="text" placeholder="Login de rede" class="form-control" name="login" formControlName="login" />
    </div>

    <div class="form-group has-error has-feedback">
      <input type="password" placeholder="Senha de rede" class="form-control" name="password" formControlName="password" />
    </div>

    <button type="submit" class="btn btn-outline-primary btn-telefonica">Entrar</button>

    <div class="toast" *ngIf="message" [@showMessage]="message">{{ message }}</div>

    <p class="mt-3">
      <a routerLink="/account/recuperar-acesso" class="text-white">Esqueceu sua senha?</a>
    </p>
  </form>
</div>
