<section class="second-menu">
  <nav class="container-fluid">
    <ul class="pull-left">
      <li *ngIf="msgMenu">{{ msgMenu }}</li>
      <ng-template ngFor let-item [ngForOf]="menu">
        <li routerLinkActive="active" *ngIf="item.isVisible">
          <a routerLink="{{ routerMain + item.link }}">{{ item.label }}</a>
        </li>
      </ng-template>
    </ul>

    <ul class="pull-right menu-right">
      <li>
        <a href="#" (click)="logout($event)">Sair</a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </nav>
</section>
