<header class="header">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-4 col-logo">
        <a class="navbar-brand logo-telefonica-vivo" [routerLink]="[routerMain]">
          Telefônica - VIVO
        </a>
      </div>

      <div class="col-sm-4 col-xs-6">
        <div class="dash-title">
          <a class="text-white" [routerLink]="[routerMain]">Dashboard SSI</a>
        </div>
      </div>

      <div class="col-sm-4 col-xs-6 col-user">
        <div class="user-dados">
          <div class="info">
            <span class="apresentacao">Olá, </span>
            <span class="nome">{{ usuario?.nomeSobrenome }}</span>
            <div class="perfil">{{ usuario?.perfil }}</div>
          </div>
          <div class="foto">
            <img src="/assets/images/user-avatar.png" />
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>
</header>
