<div class="table-responsive">
  <table class="table" *ngIf="slas && slas.length">
    <thead>
      <tr>
        <th>Ativo</th>
        <th>Status</th>
        <th>Sigla</th>
        <th>Área Requisitada</th>
        <th>Complexidade</th>
        <th>Prioridade</th>
        <th>SLA (dias)</th>
        <th>Início da vigência</th>
        <th>Final da vigência</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sla of slas">
        <td>{{ sla.ativo }}</td>
        <td>{{ sla.status }}</td>
        <td>{{ sla.siglaArea }}</td>
        <td>{{ sla.area }}</td>
        <td>{{ sla.complexidade }}</td>
        <td>{{ sla.prioridade }}</td>
        <td>{{ sla.sla }}</td>
        <td>{{ sla.inicioDaVigencia }}</td>
        <td>{{ sla.finalDaVigencia }}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
