<div class="section-page">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-horizontal">
        <p class="text-right">Observação: Os campos com * são de preenchimento obrigatório.</p>
        <br>

        <div class="form-group">
          <label class="col-md-2 control-label">Área:</label>
          <div class="col-md-10">
            <select class="form-control">
              <option value="">Selecione uma Área</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Complexidade:</label>
          <div class="col-md-10">
            <select class="form-control">
              <option value="">Selecione o nível de complexidade</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Prioridade:</label>
          <div class="col-md-10">
            <div class="radio radio-inline">
              <input type="radio" id="urgente" name="prioridade" value="urgente">
              <label for="urgente">Urgente</label>
              <div class="check"></div>
            </div>

            <div class="radio radio-inline">
              <input type="radio" id="naourgente" name="prioridade" value="nao-urgente">
              <label for="naourgente">Não-Urgente</label>
              <div class="check"></div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">SLA:</label>
          <div class="col-md-10">
            <div class="input-group">
              <input type="text" placeholder="Informe um SLA" class="form-control">
              <span class="input-group-addon">dia(s)</span>
            </div>
          </div>
        </div>

        <div class="text-right">
          <button type="submit" class="btn btn-telefonica btn-primary mw-4">Cadastrar</button>
        </div>
      </div>
    </div><!-- end col -->
  </div><!-- end row -->

</div>
