<div class="page-novo">
  <div class="page-header">
    <div class="title">SLA
      <small>- {{ actionNovo ? 'Novo' : 'Editar'}}</small>
    </div>
  </div>

  <div class="section-page">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal" [formGroup]="form" (submit)="salvar($event)">
          <p class="text-right">
            <em>Os campos com
              <span class="text-danger">*</span> são de preenchimento obrigatório.</em>
          </p>

          <div class="form-group" [ngClass]="{'has-error': fieldIsInvalid('idArea') }">
            <label class="col-md-2 control-label" for="area">Área:</label>
            <div class="col-md-10">
              <select id="area" class="form-control" formControlName="idArea">
                <option *ngFor="let area of areas; trackBy: trackById;" value="{{ area?.Id }}">{{ area?.Descricao }}</option>
              </select>
              <span class="help-block" *ngIf="fieldIsInvalid('idArea')">Selecione uma área.</span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': fieldIsInvalid('idComplexidade') }">
            <label class="col-md-2 control-label" for="complexidade">Complexidade:</label>
            <div class="col-md-10">
              <select id="complexidade" class="form-control" formControlName="idComplexidade">
                <option *ngFor="let complexidade of complexidades; trackBy: trackById;" value="{{ complexidade?.Id }}">{{ complexidade?.Descricao }}</option>
              </select>
              <span class="help-block" *ngIf="fieldIsInvalid('idComplexidade')">Selecione o nível de complexidade do SLA.</span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': fieldIsInvalid('sla') }">
            <label class="col-md-2 control-label" for="sla">SLA:</label>
            <div class="col-md-10">
              <div class="input-group">
                <input type="number" id="sla" placeholder="Informe um SLA" class="form-control" formControlName="sla">
                <span class="input-group-addon input-group-addon-telefonica">dia(s)</span>
              </div>
              <span class="help-block" *ngIf="fieldIsRequired('sla')">Informe a quantidade de dias de um SLA.</span>
              <span class="help-block" *ngIf="form.get('sla')?.errors?.range && fieldIsInvalid('sla')">Informe um número entre {{ sla.min }} e {{ sla.max }}</span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': fieldIsInvalid('idPrioridade') }">
            <label class="col-md-2 control-label">Prioridade:</label>
            <div class="col-md-10">
              <div class="radio radio-inline" *ngFor="let prioridade of prioridades; trackBy: trackById;">
                <label>
                  <input type="radio" formControlName="idPrioridade" [value]="prioridade?.Id">
                  <div class="check"></div>
                  {{ prioridade?.Descricao }}
                </label>
              </div>
              <span class="help-block" *ngIf="fieldIsInvalid('idPrioridade')">Selecione a prioridade do SLA.</span>
            </div>
          </div>

          <div class="form-group" [ngClass]="{'has-error': fieldIsInvalid('idStatus') }">
            <label class="col-md-2 control-label">Status:</label>
            <div class="col-md-10">
              <ng-template ngFor let-item [ngForOf]="status" [ngForTrackBy]="trackById">
                <div class="radio radio-inline" *ngIf="item?.isVisibleOnCreate()">
                  <label>
                    <input type="radio" formControlName="idStatus" [value]="item?.Id">
                    <div class="check"></div>
                    {{ item?.Descricao }}
                  </label>
                </div>
              </ng-template>
              <span class="help-block" *ngIf="fieldIsInvalid('idStatus')">Selecione o status do SLA.</span>
              <p class="alert alert-info" *ngIf="statusMsgAlert" [innerHtml]="statusMsgAlert"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-2">
              <div class="flex space-between">
                <button type="button" class="btn btn-telefonica btn-default" [disabled]="btnCadastrar?.loading" routerLink="/dashboard/slas">
                  Cancelar
                </button>

                <div>
                  <button type="button" class="btn btn-telefonica btn-default" [disabled]="btnCadastrar?.loading || form.pristine" (click)="formReset()"
                    *ngIf="!sla?.idsla && sla?.isEditable() || actionNovo">
                    Limpar
                  </button>

                  <button type="submit" class="btn btn-telefonica btn-primary mw-4" [ngClass]="{ 'linha-loading linha-loading-bottom linha-loading-black-alpha': btnCadastrar?.loading }"
                    [disabled]="btnCadastrar?.loading || btnCadastrar?.disabled" *ngIf="sla?.isEditable() || actionNovo">
                    {{ btnCadastrar?.loading ? btnCadastrar?.labelLoading : btnCadastrar?.label }}
                  </button>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->

  </div>
</div>
