.btn-telefonica {
  line-height: 1;
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  min-height: $btn-min-height;
  font-size: $font-size-btn;
  border-color: $btn-border-color;
  border-width: $btn-border;

  &:active, &:focus {
    box-shadow: none;
    outline: none !important;
  }

  &.text-white {
    color: $cor-white !important;
  }

  &.text-black {
    color: $cor-black-900 !important;
  }

  @for $i from 1 through 4 {
    &.mw-#{$i} {
      min-width: #{$i * 2 + 6}rem;
    }
  }
}

@each $name, $color, $color-light, $color-dark in (
 ('dark', $cor-dark, $cor-dark-light, $cor-dark-dark),
 ('light', $cor-light, $cor-light-light, $cor-light-dark),
 ('primary', $cor-primary, $cor-primary-light, $cor-primary-dark),
 ('danger', $cor-danger, $cor-danger-light, $cor-danger-dark),
 ('warning', $cor-warning, $cor-warning-light, $cor-warning-dark),
 ('info', $cor-info, $cor-info-light, $cor-info-dark),
 ('success', $cor-success, $cor-success-light, $cor-success-dark)
  ) {
  .btn-telefonica.btn-#{$name} {
    color: $cor-white;
    background-color: $color;

    &:hover, &:focus, &:active {
      background-color: $color-dark;
    }
  }

  .btn-telefonica.btn-outline.btn-#{$name} {
    color: $color;
    border-color: $color;

    &:hover, &:focus, &:active {
      background-color: rgba($color, .4);
    }
  }
}

// btn-outline
[class*="btn-outline"].btn-telefonica {
  text-align: center;
  border: $btn-outline-border solid;
  background-color: transparent;
}

.btn-fechar {
  font-size: 3rem;
  line-height: 1rem;
}
