.jaspero__dialog-actions {
  .primary {
    background-color: $cor-danger !important;

    &:hover, &:focus, &:active {
      background-color: $cor-danger-dark !important;
    }
  }

  .default {
    &:hover, &:focus, &:active {
      background-color: rgba(black, .1) !important;
    }
  }
}
