input, select, textarea, [type="checkbox"], .form-control {
  border-radius: $input-border-radius;
  padding: 0 16px;
  border: $input-border;
  min-height: $input-min-height;
  border-color: $input-border-color;
  color: $cor-text-form;
  font-size: $font-size-form;
}

input, textarea {
  &:focus {
    box-shadow: 0 1px 0 0 $cor-blue-2;
  }
}

.form-horizontal {
  .control-label {
    padding-top: $label-padding-top;
    padding-right: 0;
    margin-bottom: .5rem;
  }

  .radio-inline {
    min-height: $input-min-height;
    padding-top: $label-padding-top;

    input[type="radio"] {
      margin-top: -$label-padding-top;
    }

    @media screen and (max-width: $screen-xs-max) {
      display: block;
      margin: 0;
      padding-top: .5rem;
      min-height: 3.5rem;
    }
  }

  @media screen and (max-width: $screen-sm-max){
    .form-group {
      margin-bottom: .5rem;
    }
  }
}


// radio
// ------------------------------------
.form-group {
  .radio {
    input[type="radio"] {
      position: absolute;
      visibility: hidden;
    }

    label{
      cursor: pointer;
      padding-left: .5rem;
    }

    &:hover label{
      color: $cor-black-900;
    }

    & .check{
      display: block;
      position: absolute;
      border: $input-border;
      border-color: $cor-blue-1;
      border-radius: 100%;
      height: $input-radio-xy;
      width: $input-radio-xy;
      left: 0;
    }

    & .check::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: $input-radio-check-xy;
      width: $input-radio-check-xy;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // input[type=radio]:checked ~ .check {
  //   border: .1rem solid $cor-blue-3;
  // }

  input[type=radio]:checked ~ .check::before{
    background: $cor-blue-1;
  }

  // input[type=radio]:checked ~ label{
  //   color: $cor-black-1;
  // }
}


// input-group
.input-group {
  height: $input-min-height;

  input {
    min-height: 100%;
  }

  &.no-border {
    input, select, .input-group-btn {
      border: none !important;
      box-shadow: none;
    }
  }

  .input-group-addon-telefonica {
    border: $input-border;
    border-left: 0;
    background-color: rgba($cor-black-100, 1);
    border-radius: $input-border-radius;
    .form-group:not(.has-error) & {
      border-color: $input-border-color;
    }
  }


  input {
    border-right: 0;
    box-shadow: none;
  }
}
