.linha-loading {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        left: 0%;
        height: 2px;
        z-index: 2;
        background-color: $cor-default;
        animation: linha-loading-left-to-right 1s linear infinite;
    }

    &:not(.linha-loading-bottom):after {
        top: 0;
    }

    &.linha-loading-bottom:after {
        bottom: 0;
    }

    &.linha-loading-white:after {
        background-color: #FFFFFF;
    }

    &.linha-loading-black:after {
        background-color: $cor-black-500;
    }

    &.linha-loading-default:after {
        background-color: $cor-default;
    }
}

.glyphicon-refresh {
    @extend %transition;
    animation:'girando 1s linear infinite'
}
@-webkit-keyframes linha-loading-left-to-right {
    0%   { left: 0%; width: 0%; }
    30%  { left: 15%; width: 50%; }
    70%  { left: 35%; width: 50%; }
    100% { left: 100%; width: 0%; }
}
@keyframes linha-loading-left-to-right {
    0%   { left: 0%; width: 0%; }
    30%  { left: 15%; width: 50%; }
    70%  { left: 35%; width: 50%; }
    100% { left: 100%; width: 0%; }
}
@-webkit-keyframes girando {
    0%   { rotate: '0deg'; }
    50%   { rotate: '180deg'; }
    100% { rotate: '359deg'; }
}
@keyframes girando {
    0%   { rotate: '0deg'; }
    50%  { rotate: '180deg'; }
    100% { rotate: '359deg'; }
}
